// 🎨 Definice proměnných
$gradient-start: rgba(228, 129, 0, 0.911);
$gradient-middle: rgb(214, 180, 117);
$button-width: 350px;
$button-height: 75px;

// 🌈 Animace duhy
@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

// ✨ Styl tlačítka
.btnBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {  
  justify-content: center;
  background: linear-gradient(90deg, $gradient-start, $gradient-middle, $gradient-start);
  background-size: 400% 400%;
  animation: rainbow 3s linear infinite;
  width: $button-width;
  height: $button-height;
  border-radius: 10px;
  font-family: var(--font-logo);
  font-weight: 500;
  font-size: 30px;
  font-style: oblique;
  margin: 15px 0 50px;
  transition: all 2s ease;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: rgb(46, 44, 44);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: scale(0.6);
  }
}
