              // All contact form 
             
.ContactArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}    
              //  contact description 
.AllheadContact{

}
.ContactMY{
    font-family: var(--font-secondary);
    font-size: 2.5rem;
    font-style: oblique;
    font-weight: 500;
    text-align: center;
}
.ContactWhen{
    font-family: var(--font-secondary);
    font-size: 2rem;
    font-style: oblique;
    font-weight: 500;
    text-align: center;
}
.ContactNumber{
    font-family: var(--font-secondary);
    font-size: 2rem;
    font-style: oblique;
    font-weight: 500;
} 
             // form  
.ContactForm{

}
.ContactYorNameAll{
    font-family: var(--font-secondary);
    font-size: 1.4rem;
    font-style: oblique;
    font-weight: 500;
    text-align: center;
}
.ContactYorNameMessAemail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #afc6cc, #c2e1e4);
    border-radius: 4px;
    box-shadow: inset 0 2px 1px rgba(219, 217, 215, 0.5),
                inset 0 -2px 1px rgba(226, 226, 226, 0.2),
                0 6px 12px rgba(0, 0, 0, 0.726);    
    width: 400px;
    height: 15px;
    margin: auto; /* Zarovná box na střed */
    padding: 20px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: transform 0.3s ease;
}
             // email
.EmailAll{

}
.ContactEmail{
    font-family: var(--font-secondary);
    font-size: 1.4rem;
    font-style: oblique;
    font-weight: 500;
    text-align: center;
}
             // message
.ContactMessageAll{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.ContactmessageDes{    
    font-family: var(--font-secondary);
    font-size: 1.4rem;
    font-style: oblique;
    font-weight: 500;
     
}
.Contactmessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #afc6cc, #c2e1e4);
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(116, 115, 114, 0.5),
                inset 0 -2px 4px rgba(0, 0, 0, 0.2),
                0 6px 12px rgba(0, 0, 0, 0.726);    
    width: 400px;
    height: 200px;
    margin: auto; /* Zarovná box na střed */
    padding: 20px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: transform 0.3s ease;

}

// 🎨 Definice proměnných
$gradient-start: rgba(228, 129, 0, 0.911);
$gradient-middle: rgb(214, 180, 117);
$button-width: 350px;
$button-height: 75px;


           // ✨ Styl tlačítka 
.ContactbuttonPostbox{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 20px;
 }
.ContactbuttonPost{
    background: linear-gradient(90deg, $gradient-start, $gradient-middle, $gradient-start);
    background-size: 400% 400%;
    animation: rainbow 3s linear infinite;
    width: $button-width;
    height: $button-height;
    border-radius: 10px;
    font-family: var(--font-logo);
    font-weight: 500;
    font-size: 30px;
    font-style: oblique;
    margin: 15px 0 50px;
    transition: all 2s ease;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
    &:hover {
      background-color: rgb(46, 44, 44);
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
  
    &:active {
      transform: scale(0.6);
    }
  }

     